.container {
  display: flex;
  margin: 2vmax auto;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.banner {
  background-image: linear-gradient(to right, #635dc0, #3027ae);
  height: 84.8vmin;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: white;
}

.banner p {
  margin: 5rem auto;
}

.banner h1 {
  margin: 3rem auto;
}

.banner a button {
  padding: 0.6rem 1rem;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.banner a button:hover {
  background-color: aqua;
}

.home_heading {
  text-align: center;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}

@media screen and (max-width: 500px) {
  .banner h1 {
    font-size: small;
  }
  .banner p {
    margin: 2rem auto;
  }
  .home_heading {
    text-align: center;
    font-size: 2vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
  }
}
